<%- include("../public/partials/header.ejs") %>

    <body>
        <h1 id="homeTitle">Pens</h1>

        <div class="main">
            <nav id="homeNav">
                <a href="/user/profile" class="homeBtns">Profile</a>

                <form action="/user/logout?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" class="homeBtns" />
                </form>
            </nav>

            <a href="/pens/new" class="newEntryBtn">Create a new entry</a>

            <% for(let i in pens){ %>
                <!-- Single Post Div -->
                <div class="postDiv">
                    <!-- Single Post Content -->
                    <div class="singlePost">

                        <h2>
                            <%= pens[i].entryTitle %>
                        </h2>
                        <h4>
                            <%= pens[i].entry %>
                        </h4>

                        <div class="dateItem">
                            <% let pensDate=pens[i].createdAt %>
                                <%= pensDate.toDateString() %>
                        </div>
                    </div>
                </div>
                <% } %>

        </div>
    </body>

    </html>