<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    <div class="main">

        <a href="/pens/new">
            Create a new entry
        </a>
        

        <div class="postsDiv">
            <h1>Showing all entries</h1>
            <ul>
                <% for(let i in pens){ %>
                    <li>
                        <%= pens[i].entryTitle %>
                    </li>
                    <li>
                        <%= pens[i].entry %>
                    </li>
                <% } %>
            </ul>
        </div>

    </div>


</body>
</html>