<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>

    <div class="main">

        <!--New Post button-->
        

        <div class="postsDiv">
        <ul>
            <!--Edit button-->
            <!--Delete button-->

            <%  for(let i=0; i<pens.length; i++){   %>
                <li>
                    <%= pens[i].entry  %>
                </li>
            <%  }   %>
        </ul>
        </div>

    </div>


</body>
</html>