<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
</head> -->
<%- include("../public/partials/header.ejs") %>

<body>
    
    <div class="main">
        <h1>Create a New Post</h1>
        <form action="/pens" method="POST">
            <!-- Name: <input type="text" name="name" value="Your name"> <br> -->
            Title: <input type="text" name="entryTitle" value="Title"><br>
            Your Post: <input type="text" name="entry" value="What are you thinking about?"><br>
            Image: <input type="text" name="img" value="Attach an image link"><br>
            <input type="submit" value="Create your entry" method="POST">
        </form>

        <a href="/pens">Back Home</a>
    </div>

</body>
</html>