<%- include("../public/partials/header.ejs") %>

<!-- Registration page for new user -->

<body>
    <h1>Create an Account</h1>
    <form action="/user" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Create Account">
    </form>

    <a href="/pens">Home</a>

</body>
</html>