<%- include("../public/partials/header.ejs") %>

<!-- Registration page for new user -->

<body>
    <div class="newUserMain">
        <h1>Create an Account</h1>
        <form action="/user" method="POST">
            <input type="text" placeholder="Username" name="username"><br>
            <input type="password" placeholder="Password" name="password"><br>
            <input type="submit" value="Create Account">
        </form>

        <a href="/pens">Home</a>
    </div>
</body>
</html>