<%- include("../public/partials/header.ejs") %>

<body>
    <h1>Create an Account</h1>
    <form>
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Create Account">
    </form>
</body>
</html>