body{
    background-color: #fefcfa;
    font-family: 'Inclusive Sans', sans-serif;
    line-height: 1.5;
}
label{
    font-size: 1rem;
    padding-left: 10px;
}
textarea{
    font-family: 'Inclusive Sans', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
    height: 17rem;
    width: 20rem;
    padding: 10px;
}
h2{
    text-align: center;
}
/* This is the container for main page
Flexbox, cross axis */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.newEntryBtn{
    background-color: transparent;
    border: gray dotted;
    border-radius: 45px;
    padding: 3em 3em;
    margin: 2em 2em;
    font-style: italic;
}
/* This is a grid item of the container for main page*/
.postDiv{
    height: 430px;
    width: 390px;
    max-width: 100%;
    background-color:#f3ebe2;
    border-radius: 45px;
    color: #29251d;
}
.singlePost{
    z-index: 2;
    padding: 20px 20px;
}
h4{
    line-height: 1.5;
    text-align: justify;
}
.dropNavBtn{
    background-color: pink;
}
.dropNav{
    display: inline-block;
}
.navItems{
    display: none;
}
.navItems a{
    display: block;
    z-index: 6;
}
.show {display:block;}
/* -------------Show page------------- */
.showMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.showPost{
    height: 430px;
    width: 390px;
    max-width: 100%;
    background-color:#f3ebe2;
    border-radius: 45px;
    color: #29251d;
}
.showText{
    padding: 20px 20px;
}


/* -------------Edit page------------- */
.editMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    color: #29251d;
}
#formAlign{
    text-align: left;
    height: 430px;
    width: 390px;
    max-width: 100%;
    margin-left: 10px;
}
.entryTitle{
    font-size: 1rem;
    width: 20rem;
    padding: 5px 9px;
    margin: 5px 0px;
}

/* -------------New page------------- */
.newMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 20px;
    color: #29251d;
}
/* see entryTitle on edit section styling */
